<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="/satellite">Satellite</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/satellite/nodes">Nodes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/satellite/routes">Routes</a>
      </li>
    </ul>
  </div>
</nav>
